body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-image: linear-gradient(to right, #6e6ea9, #e46f9c);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    cursor: pointer;
    background-image: linear-gradient(to right, #6e6ea9, #e46f9c);
    padding: 5px;
    border-radius: 5px;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:rgb(249, 249, 99);
    font-size: 20px;
    font-family: fantasy;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #ed9858;
}

.dropdown {
    display: none;
    position: absolute; 
    background-color: #eb7b62; 
    padding: 0; 
    margin: 0;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
}

.dropdown li:hover {
    background-color: #daad5b; 
}

.scrollable-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .contact-us {
    margin-bottom: 20px;
}

footer .contact-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
}

footer .contact-us p {
    font-size: 18px;
    margin-bottom: 5px;
}

footer .copyright p {
    font-size: 16px;
    margin-top: 10px;
}
