/* subscribe.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f6; /* Pastel green background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333; /* Dark grey text */
}

form {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333; /* Dark grey text */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green submit button */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
